.logo {
  padding: 1rem;
  padding-top: 1.5rem;
  width: 20rem;
}

.logo img {
  width: 150px;
  height: auto;
}

.dark {
  background-color: var(--white-color);
  color: var(--black-color);
}

.light {
  color: var(--white-color);
}

/* Added responsive styles for logo */
@media (max-width: 768px) {
  .logo {
    width: auto;
    padding: 0.8rem;
    padding-top: 1.2rem;
  }

  .logo img {
    width: 120px;
  }
}