.logo {
  padding: 1rem;
  padding-top: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 26px;
  width: 20rem;
}

.logo img {
  width: 150px;
  height: auto;
}

.dark {
  background-color: var(--white-color);
  color: var(--black-color);
}

.light {
  color: var(--white-color);
}
